/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        profile_switch_to_windows: profile_switch_to_windows {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &to 4>;
            label = "PROFILE_SWITCH_TO_WINDOWS";
        };

        profile_switch_to_mac: profile_switch_to_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &to 0>;
            label = "PROFILE_SWITCH_TO_MAC";
        };
    };

    behaviors {
        tap_hold: tap_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };

        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
        };

        mod_nav_left: mod_nav_left {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_NAV_LEFT";
            bindings = <&kp LA(LEFT)>, <&kp LG(LEFT_ARROW)>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        mod_nav_right: mod_nav_right {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_NAV_RIGHT";
            bindings = <&kp LA(RIGHT)>, <&kp LG(RIGHT)>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        w_mod_nav_left: w_mod_nav_left {
            compatible = "zmk,behavior-mod-morph";
            label = "W_MOD_NAV_LEFT";
            bindings = <&kp LC(LEFT)>, <&kp HOME>;

            #binding-cells = <0>;
            mods = <(MOD_RCTL|MOD_LCTL)>;
        };

        w_mod_nav_right: w_mod_nav_right {
            compatible = "zmk,behavior-mod-morph";
            label = "W_MOD_NAV_RIGHT";
            bindings = <&kp LC(RIGHT)>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_RCTL|MOD_LCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE            &kp Q  &kp W  &kp E     &kp R      &kp T      &kp Y        &kp U            &kp I                   &kp O    &kp P     &kp BSPC
&tap_hold LCTRL TAB  &kp A  &kp S  &kp D     &kp F      &kp G      &kp H        &kp J            &kp K                   &kp L    &kp SEMI  &kp SQT
&kp LSHFT            &kp Z  &kp X  &kp C     &kp V      &kp B      &kp N        &kp M            &kp COMMA               &kp DOT  &kp FSLH  &hold_tap RSHIFT MINUS
                                   &kp LGUI  &lt 1 DEL  &kp RET    &lt 1 SPACE  &lt 2 BACKSPACE  &tap_hold LEFT_ALT ESC
            >;

            label = "Mac";
        };

        numbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp DOLLAR       &kp AT       &kp HASH      &kp LBKT              &kp RBKT                 &kp MINUS  &kp N7  &kp N8  &kp N9  &trans    &trans
&trans  &kp EXCLAMATION  &kp PERCENT  &kp AMPS      &kp EQUAL             &kp PIPE                 &kp BSLH   &kp N4  &kp N5  &kp N6  &trans    &trans
&trans  &kp CARET        &trans       &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp N0     &kp N1  &kp N2  &kp N3  &kp BSLH  &trans
                                      &trans        &trans                &trans                   &trans     &trans  &trans
            >;

            label = "Numbols";
        };

        nav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp LG(NUMBER_1)  &kp LG(N2)      &kp LG(N3)            &kp LG(NUMBER_4)  &kp LG(N5)    &kp HOME     &mod_nav_left  &kp UP    &mod_nav_right  &trans     &trans
&trans  &kp LG(LA(N1))    &kp LG(LA(N2))  &kp LG(LA(NUMBER_3))  &trans            &trans        &kp END      &kp LEFT       &kp DOWN  &kp RIGHT       &kp LG(X)  &trans
&trans  &trans            &trans          &trans                &trans            &trans        &kp PAGE_UP  &kp PAGE_DOWN  &trans    &trans          &kp LG(V)  &trans
                                          &trans                &trans            &trans        &trans       &trans         &trans
            >;

            label = "Nav";
        };

        utility {
            bindings = <
&bt BT_CLR    &profile_switch_to_windows  &profile_switch_to_mac  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&out OUT_TOG  &trans                      &trans                  &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans                      &trans                  &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                                                  &trans        &trans        &trans          &trans  &trans  &trans
            >;

            label = "Utility";
        };

        windows {
            bindings = <
&kp GRAVE               &kp Q  &kp W  &kp E             &kp R      &kp T      &kp Y        &kp U            &kp I                   &kp O    &kp P     &kp BSPC
&tap_hold LEFT_GUI TAB  &kp A  &kp S  &kp D             &kp F      &kp G      &kp H        &kp J            &kp K                   &kp L    &kp SEMI  &kp SQT
&kp LSHFT               &kp Z  &kp X  &kp C             &kp V      &kp B      &kp N        &kp M            &kp COMMA               &kp DOT  &kp FSLH  &hold_tap RSHIFT MINUS
                                      &kp LEFT_CONTROL  &lt 5 DEL  &kp RET    &lt 5 SPACE  &lt 6 BACKSPACE  &tap_hold LEFT_ALT ESC
            >;

            label = "Windows";
        };

        w_numbols {
            label = "W Numbols";
            bindings = <
&trans  &kp DOLLAR       &kp AT       &kp HASH      &kp LBKT              &kp RBKT                 &kp MINUS  &kp N7  &kp N8  &kp N9  &trans    &trans
&trans  &kp EXCLAMATION  &kp PERCENT  &kp AMPS      &kp EQUAL             &kp PIPE                 &kp BSLH   &kp N4  &kp N5  &kp N6  &trans    &trans
&trans  &kp CARET        &trans       &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp N0     &kp N1  &kp N2  &kp N3  &kp BSLH  &trans
                                      &trans        &trans                &trans                   &trans     &trans  &trans
            >;
        };

        w_nav {
            label = "W Nav";
            bindings = <
&trans  &kp LG(NUMBER_1)  &kp LG(N2)      &kp LG(N3)            &kp LG(NUMBER_4)  &kp LG(N5)    &kp HOME     &mod_nav_left  &kp UP    &mod_nav_right  &trans     &trans
&trans  &kp LG(LA(N1))    &kp LG(LA(N2))  &kp LG(LA(NUMBER_3))  &trans            &trans        &kp END      &kp LEFT       &kp DOWN  &kp RIGHT       &kp LC(X)  &trans
&trans  &trans            &trans          &trans                &trans            &trans        &kp PAGE_UP  &kp PAGE_DOWN  &trans    &trans          &kp LC(V)  &trans
                                          &trans                &trans            &trans        &trans       &trans         &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        utility_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
